
@model Department
@{
    Layout = "_layout2";
    ViewBag.title = " Department Details";
}


    <br />
    <h4 class="alert-primary m-3 p-3">
        @Model.Id : @Model.Name : @Model.Capacity
    </h4>
    <br />
    <a  asp-controller="department" asp-action="index" class="btn btn-secondary m-3">Back</a>

