
@model Department      // strongly typed
@{
   Layout = "_layout2";
    ViewBag.title = "Edit Department";
}


    <br />
    <form method="post">
        <p style="color:yellowgreen">Update Department</p>
        <partial name="CreateUpdate" />
        <input type="submit" value="Update" style="background-color:yellowgreen;border:none" class="p-6 m-6" />
    </form>

  @section scripts
    {
    <partial name="_ValidationScriptsPartial"></partial>
    }